.logo {
    height:40px;
    width: 40px;
}

.toTop{
    cursor: pointer;
    display: none;
    z-index: 100;
    font-size: 30px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.toTop:hover{
    opacity: 0.5;
}